<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="wuAL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <wuAL.Properties.Settings>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="hostname" serializeAs="String">
                <value />
            </setting>
            <setting name="torrentDir" serializeAs="String">
                <value />
            </setting>
            <setting name="doStopTorrents" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="validConnectionSettings" serializeAs="String">
                <value>False</value>
            </setting>
        </wuAL.Properties.Settings>
    </userSettings>
</configuration>